<footer>
    <div class="finfo">
        <div class="finfosocial">
            <a href="Faceboook"><i class="fa-brands fa-facebook"></i></a>
            <a href="Instaram"><i class="fa-brands fa-instagram"></i></a>
            <a href="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy; WanderLust Private Limited</div>
        <div class="finfolink">
            <a href="Privacy">Privacy</a>
            <a href="terms">Terms</a>
        </div>
    </div>
</footer>